

// Process Parameters:

// Process Parameters for ChIP_Module_Remove_Multimappers_with_Samtools:
params.ChIP_Module_Remove_Multimappers_with_Samtools.MAPQ_quality =  "4"  //* @input @description:"It removes reads with MAPQ quality less than entered value (4 by default)"

// Process Parameters for ChIP_Module_ChIP_Prep:
params.ChIP_Module_ChIP_Prep.macs2_callpeak_parameters =  ""  //* @input @description:"macs2 callpeak parameters"
params.ChIP_Module_ChIP_Prep.peak_calling_type =  "narrow"  //* @dropdown @options:"narrow","broad"
params.ChIP_Module_ChIP_Prep.band_width =  "300"  //* @input @description:"Band width for picking regions to compute fragment size."
params.ChIP_Module_ChIP_Prep.bedtoolsCoverage_Parameters =  "-sorted -nobuf -hist "  //* @input @description:"bedtools Coverage parameters"
params.ChIP_Module_ChIP_Prep.compare_Custom_Bed =  ""   //* @input @description:"Enter custom bed file <full path> for comparison"
params.ChIP_Module_ChIP_Prep.output_prefix =  ""  //* @input @title:"Sample Definitions" @description:"Output files will be created by using output_prefix"
params.ChIP_Module_ChIP_Prep.sample_prefix =  ""  //* @description:"Use prefix of the sample to match files. You can use comma separated format to enter multiples files. Eg.Sample1_L001,Sample2_L001" @input 
params.ChIP_Module_ChIP_Prep.input_prefix =  ""  //* @description:"Use prefix of the input to match files. You can use comma separated format to enter multiples files. Eg.Sample1_L001,Sample2_L001" @input

// Process Parameters for ChIP_Module_Scripture_peakrescore:
params.ChIP_Module_Scripture_peakrescore.window =  "200"  //* @input
params.ChIP_Module_Scripture_peakrescore.trimFraction =  "0.15"  //* @input

// Process Parameters for ChIP_Module_bedtools_coverage:
params.ChIP_Module_bedtools_coverage.bedtoolsCoverage_Parameters =  "-sorted -hist "  //* @input @description:"bedtools Coverage parameters"
params.ChIP_Module_bedtools_coverage.bedtoolsIntersect_Parameters =  ""  //* @input @description:"bedtools Intersect optional parameters"

// Pipeline Config:
$HOSTNAME='default'
